# Java / Spring Boot
target/
*.class
*.jar
*.war
*.iml

# VS Code
.vscode/

# Logs
*.log

# Configuration
application.properties
application.yml

# OS
.DS_Store
Thumbs.db


# Ignorer les configurations sensibles
src/main/resources/application-dev.properties
src/main/resources/application-prod.properties
